.form-content {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    outline: none;
}

@media only screen and (max-width: 560px) {
    .form-content {
        margin: 0 40px;
    }
}

form:invalid button[type="submit"] {
    pointer-events: none;
    opacity: 0.5;
}

.form-cell {
    margin-bottom: 10px;
}

.form-header-logo__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-header-logo__container img {
    width: 70px;
}

.form-header-logo__container span {
    font-size: 30px;
    font-weight: 600;
    color: #323232;
    display: inline-block;
    margin-left: 10;
}

.form-header-title__container {
    margin-top: 20px;
    width: 100%;
}

.form-header-title__container .form-header-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    color: #000;
    text-align: center;
}

input[type=password], input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-cell-wrapper {
    position: relative;
}

.form-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-textbox {
    position: relative;
    margin: 0;
    box-shadow: none;
    height: 2.6em;
    border: 0;
    border-radius: 6px;
    border-color: transparent;
    height: 3.3em;
}

.form-textbox-input {
    color: #494949;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    width: 100%;
    height: 3.29412rem;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 12px;
    padding: 1.05882rem 0.94118rem 0;
    margin: 0;
}

.form-textbox-input {
    background-color: hsla(0,0%,100%,.8);
    border-color: #86868b;
}

.form-textbox-input:focus {
    outline: none;
    border-color: #3a1e4f;
    border-width: 2px;
}

.form-textbox-label {
    position: absolute;
    pointer-events: none;
    top: 1.05882rem;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 32px);
    left: 1rem;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    color: #6e6e73;
    transition-duration: .125s;
    transition-timing-function: ease-in;
}

.form-textbox-input:focus~.form-textbox-label {
    top: .58824rem;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    z-index: 3;
}

.form-btn-submit__container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}